.myworld-title{
    color:white
}

.worlds-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.world-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.world-actions {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

    .world-actions button {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        color: black;
        background-color: white;
    }

.world-tags {
    margin-top: 10px;
}

    .world-tags span {
        border-radius: 20px;
        background-color: #eee;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 0.85rem;
        font-weight: bold;
    }
